﻿

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="#{voca.title}">Cím</title>
</head>
<body>

	

	<h1 th:each="word: ${vocable}">
		<p th:text="${word}">valami2</p>
	</h1>

	<h2 th:each="meaning: ${vocable}">
		<p th:text="${mean}">jelentes</p>
	</h2>
	
	
	
	
	

</body>
</html>